<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings xdt:Transform="Replace" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="MySqlDatabase"
         connectionString="Server=192.168.1.103;Port=33306;Database=aisdohoddevelop;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
         <!--connectionString="Server=192.168.100.72;Port=3307;Database=aisdohoddevelop;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />-->
    <add name="MySqlDatabaseIS4"
         connectionString="Server=192.168.1.103;Port=33306;Database=identityserver4;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--  <connectionStrings xdt:Transform="Replace" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name = "MySqlDatabase"
         connectionString="Server=192.168.1.103;Port=33306;Database=aisdohoddevelop;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
         connectionString="Server=localhost;Port=3307;Database=aisdohoddevelop;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
    <add name = "MySqlDatabaseIS4"
         connectionString="Server=localhost;Port=3307;Database=identityserver4;User Id=RassvetAis;Password=RassvetLine6642965;TreatTinyAsBoolean=true;charset=utf8;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>-->